    <!-- <p>Applications footer</p>

    <script src="/scripts/calendar.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/stylesheets/header-footer.css">
</head>

    <footer class="footer-container">
        <h2 class="footer-header"> Thatsauthentic</h2>
    
        <section class="quick-links">
            <address class="address">
                <h4 class="location">Location</h4>
                    <p>211 Monometsi Street</p>
                    <p>Katlehong</p>
                    <p>1431</p>
            </address>
            
            <article class="social-media">
                <h4 class="social-media-heading"><em>Social media</em></h4>
                <p><a href="https://www.facebook.com/Thatsauthentic/" target="_blank">[icon]</a>Facebook</p>
                <p><a href="https://www.instagram.com/thatsauthentic/?hl=en" target="_blank">[icon]</a>Instagram</p> <!--- We'll add favicons-->
                <p><a href="tel:+27723363369" target="_blank">[icon]</a>Call</p>
            </article>
            
        </section>
    </footer>
</html>