<!DOCTYPE html>
<html lang="en">
<head>
    <title>ThatsAuthentic</title>
    <!-- Include bootstrap to the app -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" type="text/css"> 
    <link rel="stylesheet" href="/stylesheets/test.css" type="text/css">
</head>
<body>