<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
        <!-- Header -->
    <%- include("../partials/header.ejs") %>

    <!-- Contents of the page -->
    <main class="main-content">
        <section class="header-slider">
            <figure>
                <img src="" alt="">
                <img src="" alt=""> <!--I will make a slider-->
                <img src="" alt="">
            </figure>
        </section>
    </main>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque alias harum laborum quis ad officiis voluptatem voluptatibus debitis, ea magnam itaque sint hic. Hic nemo enim suscipit nam ea vel.</p>


    <!-- Footer -->
    <%- include("../partials/footer.ejs") %> 

 
</body>
</html>
